.details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.detail--row{
    flex-basis: 24%;
    margin: 0;
    padding: 1rem;
    border: 1px dotted goldenrod;
}

.assignments {
    padding: 1rem 5rem;
}